.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
  font-family: "Josefin Sans", sans-serif;
  margin: 0;
  font-size: 1.5em;
  text-align: center;
  background: #f7f4f3;
  color: #000000;
}

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

.fade-in-section {
  opacity: 0;
  transform: translateY(20vh);
  visibility: hidden;
  transition: opacity 1200ms ease-out, transform 600ms ease-out,
    visibility 1200ms ease-out;
  will-change: opacity, transform, visibility;
}
.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}

.flip-card {
  perspective: 1000px;
  width: 100%; /* Set this to match your container */
}

/* Inner container for the flip animation */
.flip-card-inner {
  position: relative;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Trigger flip on hover */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Style the front */
.flip-card-front {
  position: absolute;
  width: 100%;
  padding-inline: 15px;
  backface-visibility: hidden;
  transition: opacity 0.4s;
}

/* Hide the front text on hover */
.flip-card:hover .flip-card-front {
  opacity: 0;
}

/* Style the back */
.flip-card-back {
  position: relative; /* Changed to relative to allow height adjustment */
  width: 100%;
  min-height: 100%; /* Ensure it expands as needed */
  backface-visibility: hidden;
  transform: rotateY(180deg);
  display: block;
}

/* Optional: add height constraints or padding if needed */
.flip-card {
  height: auto; /* Let height be dynamic */
}
